@font-face {
  font-family: "simplesnails";
  font-style: normal;
  src: url("/client/fonts/simplesnails.ttf") format("truetype"); }

@font-face {
  font-family: "pfsquaresans";
  font-style: normal;
  src: url("/client/fonts/pfsquaresans.otf"); }

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #222222 url("/client/graphics/background.png") no-repeat;
  background-size: 110%; }

*:focus {
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

button {
  vertical-align: middle;
  line-height: 27px;
  border: thin solid #444444;
  border-bottom: medium solid #444444;
  border-radius: 5px;
  font-family: pfsquaresans;
  color: #444444;
  background: white; }
  button:hover {
    cursor: pointer; }
  button:active {
    border-bottom: thin solid #222222; }

@-webkit-keyframes header-slide {
  from {
    top: -150px; }

  to {
    top: 0; } }

@-moz-keyframes header-slide {
  from {
    top: -150px; }

  to {
    top: 0; } }

@-webkit-keyframes footer-slide {
  from {
    bottom: -150px; }

  to {
    bottom: 0; } }

@-moz-keyframes footer-slide {
  from {
    bottom: -150px; }

  to {
    bottom: 0; } }

@-webkit-keyframes appearing {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes appearing {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.container {
  position: absolute;
  left: 50%;
  width: 1024px;
  min-height: 100%;
  margin-left: -512px; }
  .container header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: inherit;
    height: 115px;
    margin: 0;
    padding: 0;
    font-family: pfsquaresans;
    color: white;
    background: url(/client/graphics/header.png) no-repeat;
    background-size: 100%;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -webkit-animation: header-slide 0.75s 1 ease-out;
    -moz-animation: header-slide 0.75s 1 ease-out; }
    .container header .title {
      position: absolute;
      left: 50px;
      line-height: 105px;
      vertical-align: middle;
      text-decoration: none;
      font-family: simplesnails;
      font-weight: bold;
      font-size: 50px;
      color: white; }
      .container header .title:hover {
        cursor: pointer;
        text-shadow: 0 0 20px #444444; }
    .container header .name {
      display: block;
      position: absolute;
      bottom: 5px;
      right: 5px;
      padding: 15px;
      text-align: right;
      font-family: simplesnails;
      line-height: 30px;
      font-weight: bold;
      font-size: 30px; }
  .container .content {
    position: absolute;
    top: 0;
    left: 1%;
    right: 1%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 130px 20px 130px 20px;
    background: white;
    box-shadow: 0 0 20px 5px #222222;
    -webkit-animation: appearing 0.75s 1 ease-out;
    animation: appearing 0.75s 1 ease-out; }
  .container footer {
    position: fixed;
    z-index: 1;
    bottom: -1px;
    width: inherit;
    height: 115px;
    margin: 0;
    background: url(/client/graphics/footer.png) no-repeat;
    background-size: 100%;
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s;
    -webkit-animation: footer-slide 0.75s 1 ease-out;
    -moz-animation: footer-slide 0.75s 1 ease-out; }
  .container .pseudoform .message {
    position: absolute;
    width: 100px;
    height: 40px;
    padding: 4px 60px 0 30px;
    font-family: pfsquaresans;
    line-height: 32.5px;
    font-weight: bold;
    text-align: center;
    font-size: 9.5px;
    opacity: 0.8;
    color: #666666;
    background: url(/client/graphics/ui-warning.png) 0 0 no-repeat;
    background-size: 130px 40px; }
  .container .pseudoform .invalid {
    background: #ffc600; }
  .container .pseudoform .invalid:hover {
    cursor: pointer; }

.hidden {
  display: none; }

h1 {
  position: fixed;
  display: block;
  top: 25%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: -25px 0;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-family: pfsquaresans;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 2.5px white;
  -webkit-animation: appearing 0.5s 1 ease-in-out;
  -moz-animation: appearing 0.5s 1 ease-in-out; }
  h1.yellow {
    color: #ffc600; }

#chat {
  position: fixed;
  bottom: -125px;
  z-index: 10;
  opacity: 0.8;
  width: 400px;
  height: 115px;
  padding: 5px;
  border-top-right-radius: 5px;
  font-family: pfsquaresans;
  color: #221b31;
  background: #221b31;
  -webkit-transition: bottom 0.25s;
  -moz-transition: bottom 0.25s; }
  #chat:hover {
    bottom: 0; }
  #chat .header {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 30px;
    height: 30px;
    padding: 0 5px;
    border-top-right-radius: 10px;
    background: #221b31 url(/client/graphics/hud-chat.png) 25% 50% no-repeat;
    background-size: 25px 25px; }
    #chat .header:hover {
      cursor: pointer; }
  #chat .messages {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    width: 390px;
    height: 70px;
    margin: 5px 0;
    padding: 5px;
    background: white; }
  #chat .field {
    position: absolute;
    overflow-y: hidden;
    bottom: 0;
    width: 390px;
    height: 20px;
    margin: 5px 0 5px 0;
    padding: 5px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 12.5px;
    background: white; }

#menu {
  position: fixed;
  top: -125px;
  z-index: 10;
  opacity: 0.8;
  width: 400px;
  height: 115px;
  padding: 5px;
  border-bottom-right-radius: 5px;
  font-family: pfsquaresans;
  color: white;
  background: #221b31;
  -webkit-transition: top 0.25s;
  -moz-transition: top 0.25s; }
  #menu:hover {
    top: 0; }
  #menu .item {
    padding: 2.5px;
    width: 100px;
    clear: left; }
    #menu .item:hover {
      cursor: pointer;
      text-shadow: 0 0 2.5px white; }
  #menu #signout {
    padding-top: 5px;
    border-top: solid thin white; }
  #menu .header {
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 30px;
    height: 30px;
    padding: 0 5px;
    border-bottom-right-radius: 10px;
    background: #221b31 url(/client/graphics/hud-menu.png) 25% 50% no-repeat;
    background-size: 25px 25px; }
    #menu .header:hover {
      cursor: pointer; }

#arranger {
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: 10;
  width: 115px;
  height: 400px;
  margin-bottom: -200px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: pfsquaresans;
  color: white;
  background: #221b31;
  -webkit-animation: appearing 0.25s 1 ease-out;
  -moz-animation: appearing 0.25s 1 ease-out; }
  #arranger .control-case {
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    height: 100px;
    text-align: center; }
    #arranger .control-case button {
      width: 100%; }
      #arranger .control-case button:active {
        margin-top: 4px; }
    #arranger .control-case .status-indicator {
      position: absolute;
      right: 2.5px;
      bottom: 2.5px;
      left: 2.5px;
      height: 50px;
      background: no-repeat 50% 50%;
      background-size: contain; }
      #arranger .control-case .status-indicator.valid {
        background-image: url(/client/graphics/hud-indicator-valid.png); }
      #arranger .control-case .status-indicator.invalid {
        background-image: url(/client/graphics/hud-indicator-invalid.png); }
  #arranger .units-case {
    position: absolute;
    overflow-y: scroll;
    right: 5px;
    bottom: 5px;
    left: 5px;
    height: 295px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px 0 black inset; }
    #arranger .units-case img {
      padding: 2.5px;
      border-radius: 5px; }
      #arranger .units-case img.selected {
        background: rgba(255, 237, 0, 0.4); }

.dialog {
  position: fixed;
  top: 50%;
  height: 400px;
  width: 100%;
  z-index: 9;
  margin: -200px 0;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  color: white;
  font-family: pfsquaresans;
  background: #221b31;
  box-shadow: 0 0 10px 0 black;
  -webkit-animation: appearing 0.25s 1 ease-out;
  -moz-animation: appearing 0.25s 1 ease-out; }
  .dialog.big {
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    margin: 0; }
    .dialog.big section {
      width: 100%;
      height: 80%; }
  .dialog section {
    position: relative;
    overflow-y: scroll;
    width: 25%;
    height: 50%;
    margin: 10px auto;
    border-radius: 5px;
    color: #221b31;
    background: white; }
    .dialog section table {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background: #444444; }
      .dialog section table tr {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
        background: white; }
        .dialog section table tr.lack {
          color: #444444;
          background: #666666; }
          .dialog section table tr.lack:hover {
            background: #666666;
            cursor: default; }
        .dialog section table tr:first-of-type {
          text-align: center;
          color: white;
          background: #444444; }
          .dialog section table tr:first-of-type:hover {
            background: #444444;
            cursor: default; }
        .dialog section table tr:hover {
          cursor: pointer;
          background: #666666; }
        .dialog section table tr td {
          padding: 2.5%;
          margin: 0;
          box-sizing: border-box;
          -moz-box-sizing: border-box; }
    .dialog section .rank {
      display: inline-block;
      width: 50%;
      padding: 10px 0 10px 10px;
      margin: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
    .dialog section .quantity {
      display: inline-block;
      width: 50%;
      padding: 10px 10px 10px 0;
      margin: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
  .dialog h2 {
    margin: 0;
    font-family: simplesnails;
    font-size: 40px;
    text-shadow: 0 0 2.5px white; }
    .dialog h2.headerMessage {
      position: absolute;
      top: 120px;
      width: 100%;
      margin: 0 auto; }
  .dialog button {
    position: relative;
    bottom: 0;
    width: 100px;
    height: 120px;
    margin: 0;
    margin-left: 20px;
    border: none;
    vertical-align: text-bottom;
    line-height: 12;
    font-size: 15px;
    color: white;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 80px 80px; }
    .dialog button:hover {
      border: none;
      text-shadow: 0 0 2.5px white; }
    .dialog button.fight {
      background-image: url(/client/graphics/hud-button-fight.png); }
    .dialog button.close {
      background-image: url(/client/graphics/hud-button-close.png); }
    .dialog button.accept {
      background-image: url(/client/graphics/hud-button-accept.png); }
    .dialog button.reject {
      background-image: url(/client/graphics/hud-button-reject.png); }
  .dialog.wait {
    background: #221b31 url(/client/graphics/ui-wait.gif) 50% 50% no-repeat; }
